html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: block;
    margin-bottom: 30px;
    background-color: #313131;
    color: #ffffff;
}

div#burgerMenu, div#header-main {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

h1{
    font-size: 40px;
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
}

div#header-main {
    padding-left: 740px;
}

header img, header div#name {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

div#currentDate {
    display: inline-block;
    margin-top: 25px;
    text-align: left;
}

.sidenav {
    height: 100% auto; 
    width: 0; 
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: -25px;
    padding-left: 25px;
    background-color: #111; 
    overflow: hidden; 
    padding-top: 30px; 
    padding-bottom: 30px;
    transition: 0.5s; 
  }

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

header span {
    position: relative;
    top: 35px
}

div.container label {
    display: block;
}

div.container {
    width: 60% auto;
    display: block;
    position: relative;
    margin: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
    height: 100% auto;
    background-color: #0000007a;
    color: #ffffff;
}

div.container div section div{
    padding-top: 10px;
    padding-bottom: 10px;
}

div#order_form, div#receipt {
    display: inline-block;
    vertical-align: top;

}

div#order_form {
    width: 45%;
}

div#receipt {
    width: 30%;
    position: fixed;
    margin-left: 200px;
    background-color: #ffffffe5;
    color: #000000;
    padding-left: 20px;
}

div#receipt h3{
    padding-top: 20px;
}

div#receipt h3, div#receipt h4 {
    text-align: center;
}

div#receipt br:last-of-type {
    padding-bottom: 20px;
}


footer{
    display: block;
    bottom: 0px;
    margin-top: 30px;
    width: 100%;
    background-color: #232323;
    padding: 30px;
    color: #ffffff;
}

footer div#stayConnected, footer div#footer-main {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
}


div#committed, div#sitemap {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

div#sitemap {
    margin-left: 50px;
    text-align: right;
}

footer input{
    padding: 5px;
}

button {
    background-color: rgb(247, 31, 96);
    color: #ffffff;
    font-weight: 600;
    padding: 5px;
    margin-left: 5px;
}

footer a{
    color: rgb(255, 255, 255);
    display: block;
}
